.env
.venv
__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/
src/*.egg-info/
**/__pycache__/
.pytest_cache/
.python-version
.DS_Store
pyrightconfig.json
**/.speakeasy/temp/
**/.speakeasy/logs/
.speakeasy/reports

*/.files
*/translations/


/models
/sdk/models/errors
/sdk/types
/node_modules
/examples/node_modules
/lib
/sdk
/funcs
/react-query
/mcp-server
/hooks
/index.*
/core.*
/bin
/cjs
/esm
/dist
/.tsbuildinfo
/.eslintcache
/.tshy
/.tshy-*
/__tests__
.DS_Store
**/.speakeasy/temp/
**/.speakeasy/logs/
.DS_Store
/.speakeasy/reports
.env
.env.local
.env.*.local
translations
chroma-database
*.pdf
reglements
